<div class="logo-container header-image container">
    <div class="container texto">
        <img  src="img/Logo.png" alt="" class="text logo">
        <div class="titulo">
            <h1 id="stilo" class="text">GYMS FINDER</h1>
            <span class="text">Buscador de Gimnasios en Lima</span>
        </div>
    </div>
</div>