<% include partials/head.ejs %>
<body class="fondo">
    <% include partials/cabecera.ejs %>
    <% include partials/menu.ejs %>
    <% include partials/izquierda.ejs %>
    <div class="col-lg-6 col-md-12">
        
    </div>
    <% include partials/derecha.ejs %>
<% include partials/pie-pagina.ejs %>